<?php

// configuration values for the test-suite:

define('HEY_LOYALTY_API_KEY', 'xxxxxxxxxxxxxxxx');
define('HEY_LOYALTY_API_SECRET', 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx');
define('HEY_LOYALTY_LIST_ID', 123);
